<div class="container-fluid container-home">
  <div class="col-md-4 gitflub">
    <div class="profile">
      <h1>GitFlub</h1>
      <br>
      <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
      <h1> <%= current_user.nickname %></h1>
      <h3> <%= current_user.email %></h3>
      <h4 id="follows">
      Followers: <%= @client.user.followers %> Following: <%= @client.user.following %>
      </h4>
      <h4>Starred: <%= @client.starred.count %></h4>
      <h4>Orginizations: <% @client.organizations.map do |e| %>
        <%= e.login %><br>
      <% end %>
      </h4>
      <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-lg btn-default btn-home" %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="feed">
      <br><br>
    <% @feed.first(20).each do |e| %>
      <div class="feed">
        <% url = "http://github.com/" + "#{e.repo.name}" %>
        <% event_type = e.type.split('Event').join %>
        <% commits = e.payload.size ? "#{e.payload.size} commits to" : "" %>
        <%= link_to "#{event_type}: #{commits} #{e.repo.name}", url%>
        <br>
        </div>
        <% end %>
    </div>
  </div>

  <div class="col-md-4">

  </div>
<div class="graph">
  <%= current_user.contributions.to_s.html_safe %>
</div>
</div>
