<div class="container-fluid container-home">
  <div class="col-md-4">
    <div class="profile">
      <h1>GitFlub</h1>
      <br>
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
    <h1> <%= current_user.nickname %></h1>
    <h3> <%= current_user.email %></h3>
    <h4 id="follows">
      Followers: <%= @client.user.followers %> Following: <%= @client.user.following %>
    </h4>
    <h4>Starred: <%= @client.starred.count %></h4>
    <h4>Orginizations: <% @client.organizations.map do |e| %>
      <%= e.login %><br>
    <% end %>
    </h4>
    <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-lg btn-default btn-home" %>
  </div>
  </div>
  <div class="col-md-4">
    <br>
    <br>
    <div class="feed">
    <% @feed.first(20).each do |e| %>
      <div class="feed">
        <%= "#{e.type}: #{e.payload.size} commits to #{e.repo.name}" %><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
