<div class="container-fluid container-home">
  <div class="col-md-8">
    <div class="profile">
      <h1>GitFlub</h1>
      <br>
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
    <h1> <%= current_user.nickname %></h1>
    <h3> <%= current_user.email %></h3>
    <% user = Octokit.user current_user.nickname %>
    <h4 id="follows">Followers: <%= user[:followers] %> Following: <%= user[:following] %></h4>
    <%= link_to "Logout", logout_path, method: :delete, class: "btn btn-lg btn-default btn-home" %>
  </div>
  </div>
</div>
